/* font : poppin from google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.carlytic{
margin: 50px 100px 50px 60px;
}
.center {
  display: block;
  margin : 50px 30px 50px 150px;
  width: 80%;
}
.background{
  float: left;
  left: 0;
  width: 50%;
}
 #carlyticdescription{
padding-top: 150px;
}
#carlyticdescription h3{
  text-align: center;
}
#carlyticdescription p{
  text-align: justify;
}